exp: mnist

models:
  mnist: .models.MnistModel
  beta2d: .models.Beta2DModel
  beta3d: .models.Beta3DModel
  qm9aph: .models.QM9Model
  qm9cv0: .models.QM9Model
  qm9gap: .models.QM9Model
  qm9hom: .models.QM9Model
  qm9lum: .models.QM9Model
  qm9mu0: .models.QM9Model
  invcosmo: .models.InvCosmoModel
  invmanual: .models.InvManualModel
  features: .models.FeaturesModel

params:
  mnist:
    benchmark: B_RMNIST
    transforms:
      - Identity:
    epochs: 30
    batch_size: 32
  beta2d:
    benchmark: B_BTALAC
    transforms:
      - GraphFromSmiles:
          geometric: True
          dim: 2
      - TokenizeAtoms:
          alphabet: NClCFPOS
      - OneHotAtomFeatures:
          alphabet: NClCFPOS
    epochs: 300
    batch_size: 512
  beta3d:
    benchmark: B_BTALAC
    transforms:
      - GraphFromSmiles:
          geometric: True
          dim: 3
      - TokenizeAtoms:
          alphabet: NClCFPOS
      - OneHotAtomFeatures:
          alphabet: NClCFPOS
    epochs: 1000
    batch_size: 512
  qm9aph:
    benchmark: B_QM9APH
    transforms:
      - TokenizeAtoms:
          alphabet: HCNOF
      - OneHotAtomFeatures:
          alphabet: HCNOF
      - Standardize:
          field: molecule_alpha
    epochs: 100
    batch_size: 256
  qm9cv0:
    benchmark: B_QM9CV0
    transforms:
      - TokenizeAtoms:
          alphabet: HCNOF
      - OneHotAtomFeatures:
          alphabet: HCNOF
      - Standardize:
          field: molecule_Cv
    epochs: 100
    batch_size: 256
  qm9gap:
    benchmark: B_QM9GAP
    transforms:
      - TokenizeAtoms:
          alphabet: HCNOF
      - OneHotAtomFeatures:
          alphabet: HCNOF
      - Standardize:
          field: molecule_gap
    epochs: 100
    batch_size: 256
  qm9hom:
    benchmark: B_QM9HOM
    transforms:
      - TokenizeAtoms:
          alphabet: HCNOF
      - OneHotAtomFeatures:
          alphabet: HCNOF
      - Standardize:
          field: molecule_homo
    epochs: 100
    batch_size: 256
  qm9lum:
    benchmark: B_QM9LUM
    transforms:
      - TokenizeAtoms:
          alphabet: HCNOF
      - OneHotAtomFeatures:
          alphabet: HCNOF
      - Standardize:
          field: molecule_lumo
    epochs: 100
    batch_size: 256
  qm9mu0:
    benchmark: B_QM9MU0
    transforms:
      - TokenizeAtoms:
          alphabet: HCNOF
      - OneHotAtomFeatures:
          alphabet: HCNOF
      - Standardize:
          field: molecule_mu
    epochs: 100
    batch_size: 256
  invcosmo:
    benchmark: B_INVC42
    transforms:
      - TokenizeAtoms:
          alphabet: [N, CA, C, O]
      - OneHotAtomFeatures:
          alphabet: [N, CA, C, O]
      - TokenizeResidues:
      - ResidueBackboneAtoms:
      - ResiduePositions:
      - RamachandranAngles:
    epochs: 100
    batch_size: 32
  invmanual:
    benchmark: B_INVC42
    transforms:
      - TokenizeAtoms:
          alphabet: [N, CA, C, O]
      - OneHotAtomFeatures:
          alphabet: [N, CA, C, O]
      - TokenizeResidues:
      - ResidueBackboneAtoms:
      - ResiduePositions:
      - RamachandranAngles:
    epochs: 100
    batch_size: 32
  features:
    benchmark: B_INVC42
    transforms:
      - TokenizeAtoms:
          alphabet: [N, CA, C, O]
      - OneHotAtomFeatures:
          alphabet: [N, CA, C, O]
      - TokenizeResidues:
      - ResidueBackboneAtoms:
      - ResiduePositions:
      - RamachandranAngles:
    epochs: 100
    batch_size: 32

benchmark: ${params[${exp}][benchmark]}
transforms: ${params[${exp}][transforms]}

trainer:
  backend: TorchBackend
  collater: LongCollater
  root: results/${exp}
  logger: CometLogger
  validate_every: 1.0
  initial_validation: True
  accelerator: gpu
  devices: 1
  workers: 1
  precision: 32
  strategy: auto
  compile: False
  accumulate_gradients: 1
  checkpoint_every: 1
  checkpoint_name: "checkpoint"
  epochs: ${params[${exp}][epochs]}
  batch_size: ${params[${exp}][batch_size]}
  batch_on: molecules
  log_every: 10

model: ${models[${exp}]}

globals:
  workers: 1